{% load static %}

<link rel="stylesheet" href="{% static 'css/jquery.tagit.css' %}">
<script src="{% static 'js/tag-it.min.js' %}"></script>

<style>
    .category-tag-field .ui-autocomplete-input {
        width: 100%;
    }
    
    .tagit-choice .tagit-label {
        display: inline-block;
    }
    
    /* Style for category part of tag */
    .tagit-choice .category-part {
        font-weight: bold;
    }
    
    {% for category in categories %}
    .tagit-choice[data-category="{{ category.name }}"] {
        background-color: {{ category.color }};
    }
    {% endfor %}
</style>

<script>
    $(function() {
        // Function to parse category from tag text
        function getCategoryFromTag(tagText) {
            if (tagText.indexOf(':') > -1) {
                return tagText.split(':')[0].trim();
            }
            return '';
        }

        // Add data-category attribute to tag elements
        function addCategoryDataToTags() {
            $('.tagit-choice').each(function() {
                var tagText = $(this).find('.tagit-label').text();
                var category = getCategoryFromTag(tagText);
                
                if (category) {
                    $(this).attr('data-category', category);
                    
                    // Split label into category and name
                    var label = $(this).find('.tagit-label');
                    var name = tagText.split(':')[1].trim();
                    
                    // Replace with formatted parts
                    label.html('<span class="category-part">' + category + ':</span> ' + name);
                }
            });
        }
        
        // Process on page load
        addCategoryDataToTags();
        
        // Also process after tag-it adds new tags
        $(document).on('DOMNodeInserted', '.tagit-choice', function() {
            setTimeout(addCategoryDataToTags, 10);
        });
    });
</script>