/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Page Container */
.home-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
  justify-content: start;
}

/* Navigation Bar */
.nav-bar {
  justify-content: space-between;
  align-items: center;
  background-color: #fff3ef;
  align-self: center;
  display: flex;
  width: 100%;
  padding: 10px 20px;
  font-family:
    "Advent Pro",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  color: #2b2610;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  flex-wrap: wrap;
}

.nav-bar-items {
  display: flex;
  gap: 20px;
}

.products,
.contact {
  align-self: stretch;
  margin: auto 0;
  /* width: 223px; */
}

.logo-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 10vw;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 555px;
  width: 100%;
  padding: 140px 80px;
  overflow: hidden;
  align-items: center;
  color: #2b2610;
  text-align: center;
  justify-content: center;
}

.hero-background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.title-box {
  position: relative;
  border-radius: 20px;
  background-color: rgba(255, 243, 239, 0.9);
  display: flex;
  margin-bottom: -28px;
  width: 673px;
  max-width: 100%;
  padding: 57px 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-content {
  width: 420px;
  max-width: 100%;
}

.welcome-title {
  font-family:
    "Advent Pro",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 64px;
  font-weight: 800;
}

.welcome-description {
  font-family:
    "Afacad",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 44px;
}

/* Search Bar */
.search-bar {
  display: flex;
  width: 100%;
  padding: 40px 147px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-view {
  border: 3px solid var(--Text-Color, #2B2610);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  gap: 10px;
  max-width: 100%;
}

.header {
  align-items: center;
  border-radius: 20px;
  display: flex;
  min-height: 72px;
  width: 100%;
  padding: 12px 4px;
  gap: 4px;
  justify-content: start;
  flex-wrap: wrap;
}

.leading-icon-button {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  min-height: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
}

.container {
  border-radius: 100px;
  display: flex;
  width: 100%;
  max-width: 40px;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  justify-content: center;
}

.state-layer {
  background-color: #ffffff;
  align-self: stretch;
  display: flex;
  margin: auto 0;
  width: 40px;
  padding: 0 8px;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: 40px;
}

.search-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}

.content {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  flex-direction: column;
  align-items: start;
  font-family:
    "Afacad",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  color: #2b2610;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: 0.5px;
  line-height: 24px;
  justify-content: center;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.input-text {
  align-self: stretch;
  min-height: 24px;
  font-size: 16px;
  gap: 1px;
}

.trailing-icon-button {
  background-color: #ffffff;
  align-self: stretch;
  display: flex;
  margin: auto 0;
  min-height: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.container-2,
.container-3,
.container-4 {
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #2b2610;
  display: flex;
  width: 40px;
  gap: 10px;
  overflow: hidden;
  height: 40px;
}

.state-layer-2,
.state-layer-3,
.state-layer-4 {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  width: 40px;
  padding: 8px;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background-color: #2b2610;
  border-radius: 40px;
}

.search-button-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}

/* Categories Section */
.categories {
  align-self: center;
  width: 100%;
}

.shop-equipment-for {
  align-self: stretch;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  min-height: 83px;
  width: 100%;
  padding: 0 80px 40px;
  gap: 10px;
  font-family:
    "Advent Pro",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 36px;
  color: #2b2610;
  font-weight: 500;
}

.segmented-controls {
  display: flex;
  min-height: 32px;
  width: 100%;
  padding: 0 80px;
  align-items: center;
  justify-content: center;
}

.content-2 {
  justify-content: center;
  align-items: stretch;
  border-radius: 8px;
  background-color: #fff3ef;
  align-self: stretch;
  display: flex;
  min-width: 240px;
  margin: auto 0;
  min-height: 32px;
  width: 100%;
  padding: 2px;
  flex-wrap: wrap;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.tab {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
  font-family:
    "Afacad",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  color: #2b2610;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.tab-pattern-hugcontentline {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
  justify-content: center;
  flex: 1;
}

.surface {
  width: 100%;
  flex: 1;
}

.content-3 {
  justify-content: center;
  align-items: stretch;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  width: 100%;
  padding: 4px;
  flex-direction: column;
  flex: 1;
}

.elements {
  width: 100%;
  flex: 1;
}

.tab-2,
.tab-3,
.tab-4,
.tab-5,
.tab-6,
.tab-7 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family:
    "Afacad",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  color: #2b2610;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.tab-pattern-hugcontentline-2,
.tab-pattern-hugcontentline-3,
.tab-pattern-hugcontentline-4,
.tab-pattern-hugcontentline-5,
.tab-pattern-hugcontentline-6,
.tab-pattern-hugcontentline-7 {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
  justify-content: center;
}

.surface-2,
.surface-3,
.surface-4,
.surface-5,
.surface-6,
.surface-7 {
  width: 100%;
}

.content-4,
.content-5,
.content-6,
.content-7,
.content-8,
.content-9 {
  border-radius: 6px;
  display: flex;
  width: 100%;
  padding: 5px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.elements-2,
.elements-3,
.elements-4,
.elements-5,
.elements-6,
.elements-7 {
  width: 100%;
}

.line {
  display: flex;
  padding: 8px 0;
  align-items: stretch;
  gap: 10px;
  justify-content: start;
  height: 100%;
  width: 1px;
}

.divider-line {
  object-fit: contain;
  object-position: center;
  width: 1px;
  fill: #2b2610;
}

/* Products Grid */
.products-grid {
  display: flex;
  width: 100%;
  padding: 40px 80px 60px;
  align-items: center;
  gap: 40px;
  overflow: hidden;
  font-family:
    "Afacad",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  color: #2b2610;
  line-height: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  align-items: stretch;
  border-radius: 20px;
  background-color: #fff3ef;
  align-self: stretch;
  display: flex;
  min-width: 240px;
  margin: auto 0;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
  flex-shrink: 1;
  width: 319px;
}

.product-image {
  aspect-ratio: 1.35;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.product-title {
  align-self: stretch;
  max-width: 100%;
  padding: 20px 20px;
  gap: 10px;
  font-family:
    "Advent Pro",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.description {
  align-self: stretch;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  width: 100%;
  padding: 0 20px;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.read-more-button {
  align-self: start;
  padding: 20px 20px;
  line-height: 1;
}

button {
  align-self: stretch;
  border-radius: 20px;
  background-color: #2b2610;
  padding: 10px;
  overflow: hidden;
  font-size: 16px;
  font-family:
    "Advent Pro",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  color: white;
  border: none;
  cursor: pointer;
}

/* Product Page Parts */
.product-page-parts {
  align-self: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-bottom: 40px;
}

.search-bar-2 {
  display: flex;
  padding: 40px 53px;
  align-items: center;
  gap: 40px 46px;
  justify-content: start;
  flex-wrap: wrap;
}

.searchviewfull-screen-2 {
  border-radius: 20px;
  align-self: stretch;
  min-width: 240px;
  margin: auto 0;
  width: 718px;
}

.filter-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 48px;
  align-self: stretch;
  margin: auto 0;
}

.category-label {
  align-self: stretch;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  min-height: 43px;
  width: 100%;
  padding: 0 80px;
  gap: 10px;
  font-family:
    "Advent Pro",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 36px;
  color: #2b2610;
  font-weight: 500;
  white-space: nowrap;
}

/* Search Results Parts */
.search-results-parts {
  align-self: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.search-bar-3 {
  display: flex;
  width: 1012px;
  max-width: 100%;
  padding: 40px 147px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.searchviewfull-screen-3 {
  border-radius: 20px;
  width: 100%;
  max-width: 718px;
}

.products-gallery {
  width: 100%;
}

.search-results-header {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
  align-items: center;
  gap: 40px 100px;
  overflow: hidden;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-title-2 {
  align-self: stretch;
  min-width: 240px;
  margin: auto 0;
  padding: 0 20px 0 80px;
  gap: 10px;
  font-family:
    "Advent Pro",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 32px;
  color: #000;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.filter-container {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  padding: 0 80px;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 208px;
}

.filter-icon-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 48px;
  align-self: stretch;
  margin: auto 0;
}

/* Info Page Frame */
.info-page-frame {
  width: 100%;
  padding: 40px 80px 40px 80px;
}

.product-image-container {
  display: flex;
  max-width: 100%;
  width: 1281px;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-detail-image {
  aspect-ratio: 1.78;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.machine-title {
  color: #2b2610;
  font-family:
    "Advent Pro",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 10px;
}

.product-description {
  color: #2b2610;
  font-family:
    "Afacad",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
}

.more-details-box-frame {
  margin-top: 10px;
  width: 100%;
  padding: 20px 0 40px;
  font-family:
    "Afacad",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}

.long-description-box {
  align-items: stretch;
  border-radius: 20px;
  box-shadow: 7px 7px 25px 0px rgba(0, 0, 0, 0.2);
  background-color: #2b2610;
  display: flex;
  width: 100%;
  padding: 14px 20px;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

.details-header {
  border-radius: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.read-more-details {
  align-self: stretch;
  margin: auto 0;
  font-weight: 400;
}

.expand-icon {
  aspect-ratio: 1.72;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
}

.modelsand-specifications {
  color: #2b2610;
  font-family:
    "Advent Pro",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 10px;
}

.model-spec-section {
  margin-top: 10px;
  width: 100%;
  padding: 20px 0;
  font-family:
    "Afacad",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  color: #fff;
}

.model-header {
  display: flex;
  max-width: 100%;
  align-items: stretch;
  gap: 20px;
  color: #2b2610;
}

.model-name {
  font-size: 24px;
  font-weight: 400;
}

.quote-button {
  align-self: stretch;
  border-radius: 20px;
  background-color: #fff3ef;
  gap: var(--sds-size-space-200);
  overflow: hidden;
  font-size: var(--sds-typography-body-size-medium);
  font-weight: var(--sds-typography-body-font-weight-regular);
  line-height: 1;
  padding: var(--sds-size-space-300);
  border: none;
  cursor: pointer;
  color: #2b2610;
}

.faq-accordion {
  align-items: stretch;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.12);
  background-color: #2b2610;
  display: flex;
  margin-top: 20px;
  min-height: 60px;
  width: 100%;
  overflow: hidden;
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
  justify-content: start;
}

.heading {
  display: flex;
  min-width: 240px;
  width: 100%;
  padding: 14px 20px;
  align-items: center;
  gap: 40px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.specification {
  align-self: stretch;
  margin: auto 0;
  font-weight: 400;
}

/* Contact Us Page */
.contact-us-page {
  align-self: center;
  width: 100%;
  color: #2b2610;
}

.contact-us {
  align-self: stretch;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  min-height: 123px;
  padding: 40px 80px;
  gap: 10px;
  font-family:
    "Advent Pro",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.contact-box {
  display: flex;
  width: 100%;
  padding: 40px 80px;
  flex-direction: column;
  align-items: stretch;
  font-family:
    "Afacad",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  font-weight: 400;
  justify-content: start;
}

.contact-form-container {
  display: flex;
  width: 100%;
  align-items: start;
  gap: 32px;
  justify-content: start;
  flex-wrap: wrap;
}

.input-field {
  align-self: stretch;
  border: none;
  border-bottom: 1px solid rgba(202, 202, 202, 1);
  min-width: 240px;
  padding: 10px 10px 32px;
  gap: 10px;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  font-family:
    "Afacad",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  background: transparent;
}

.message-field {
  align-self: stretch;
  border: none;
  border-bottom: 1px solid rgba(202, 202, 202, 1);
  margin-top: 48px;
  min-height: 146px;
  width: 100%;
  padding: 12px 10px 102px;
  gap: 10px;
  white-space: nowrap;
  font-family:
    "Afacad",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  background: transparent;
  resize: none;
}

.submit-button {
  align-self: start;
  border-radius: 20px;
  background-color: #2b2610;
  margin-top: 48px;
  gap: var(--sds-size-space-200);
  overflow: hidden;
  color: white;
  white-space: nowrap;
  padding: var(--sds-size-space-300);
  border: none;
  cursor: pointer;
  font-family:
    "Afacad",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
}

/* Footer */
.footer {
  background-color: rgba(23, 23, 23, 1);
  width: 100%;
}

.main {
  align-items: center;
  background-color: #fff3ef;
  display: flex;
  width: 100%;
  padding: 60px 80px;
  gap: 40px 114px;
  justify-content: start;
  flex-direction: row;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
}

.footer-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20vw;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
}

.address {
  width: 100%;
  font-family:
    "Afacad",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  color: #2b2610;
  font-weight: 400;
  font-style: normal;
}

.phone-info {
  margin-top: 16px;
}

.email-info {
  margin-top: 16px;
}

.social {
  align-self: start;
  display: flex;
  margin-top: 40px;
  align-items: start;
  gap: 24px;
  justify-content: start;
}

.social-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  flex-shrink: 0;
}

@media (max-width: 500px) {
  .main {
    flex-direction: column;
  }
}

/* Media Queries */
@media (max-width: 991px) {
  .nav-bar {
    max-width: 100%;
    padding: 10px 20px;
    white-space: initial;
  }

  .hero-section {
    max-width: 100%;
    padding: 100px 20px;
  }

  .title-box {
    margin-bottom: 10px;
    padding: 57px 20px;
  }

  .welcome-title {
    font-size: 40px;
  }

  .welcome-description {
    margin-right: 6px;
    margin-top: 40px;
  }

  .search-bar {
    max-width: 100%;
    padding: 40px 20px;
  }

  .header {
    max-width: 100%;
  }

  .content {
    max-width: 100%;
    white-space: initial;
  }

  .input-text {
    white-space: initial;
  }

  .categories {
    max-width: 100%;
  }

  .shop-equipment-for {
    max-width: 100%;
    padding: 0 20px 40px;
  }

  .segmented-controls {
    max-width: 100%;
    padding: 0 20px;
  }

  .content-2 {
    max-width: 100%;
  }

  .tab,
  .tab-2,
  .tab-3,
  .tab-4,
  .tab-5 {
    white-space: initial;
  }

  .tab-pattern-hugcontentline,
  .tab-pattern-hugcontentline-2,
  .tab-pattern-hugcontentline-3,
  .tab-pattern-hugcontentline-4,
  .tab-pattern-hugcontentline-5 {
    white-space: initial;
  }

  .surface,
  .surface-2,
  .surface-3,
  .surface-4,
  .surface-5 {
    white-space: initial;
  }

  .content-3,
  .content-4,
  .content-5,
  .content-6,
  .content-7 {
    white-space: initial;
  }

  .elements,
  .elements-2,
  .elements-3,
  .elements-4,
  .elements-5 {
    white-space: initial;
  }

  .products-grid {
    max-width: 100%;
    padding: 40px 20px 60px;
  }

  .product-page-parts {
    max-width: 100%;
  }

  .search-bar-2 {
    max-width: 100%;
    padding: 40px 20px;
  }

  .searchviewfull-screen-2 {
    max-width: 100%;
  }

  .category-label {
    max-width: 100%;
    padding: 0 20px;
    white-space: initial;
  }

  .search-results-parts {
    max-width: 100%;
  }

  .search-bar-3 {
    padding: 40px 20px;
  }

  .searchviewfull-screen-3 {
    max-width: 100%;
  }

  .products-gallery {
    max-width: 100%;
  }

  .search-results-header {
    max-width: 100%;
  }

  .product-title-2 {
    padding-left: 20px;
  }

  .filter-container {
    padding: 0 20px;
  }

  .info-page-frame {
    max-width: 100%;
    padding: 40px 20px;
  }

  .machine-title {
    max-width: 100%;
  }

  .product-description {
    max-width: 100%;
  }

  .more-details-box-frame {
    max-width: 100%;
  }

  .long-description-box {
    max-width: 100%;
  }

  .details-header {
    max-width: 100%;
  }

  .modelsand-specifications {
    max-width: 100%;
  }

  .model-spec-section {
    max-width: 100%;
  }

  .model-header {
    padding-right: 20px;
  }

  .faq-accordion {
    max-width: 100%;
    white-space: initial;
  }

  .heading {
    max-width: 100%;
    white-space: initial;
  }

  .contact-us-page {
    max-width: 100%;
  }

  .contact-us {
    max-width: 100%;
    padding: 40px 20px;
  }

  .contact-box {
    max-width: 100%;
    padding: 40px 20px;
  }

  .contact-form-container {
    max-width: 100%;
  }

  .message-field {
    max-width: 100%;
    padding-bottom: 100px;
    margin-top: 40px;
    white-space: initial;
  }

  .submit-button {
    margin-top: 40px;
    white-space: initial;
  }

  .footer {
    max-width: 100%;
  }

  .main {
    max-width: 100%;
    padding: 60px 20px;
  }
}
