{% extends "wagtailadmin/base.html" %}
{% load i18n %}

{% block titletag %}{% trans "Process Batch of URLs with AWS Bedrock" %}{% endblock %}

{% block content %}
    <div class="nice-padding">
        <h1>{% trans "Process Batch of URLs with AWS Bedrock" %}</h1>
        
        <p>{% trans "Enter multiple URLs to process with AWS Bedrock AI. Each URL will be analyzed to extract structured information." %}</p>
        
        <div class="help-block">
            <p>{% trans "Tips:" %}</p>
            <ul>
                <li>{% trans "Enter one URL per line" %}</li>
                <li>{% trans "Processing is done in the background" %}</li>
                <li>{% trans "You will be redirected to a status page where you can monitor progress" %}</li>
                <li>{% trans "URLs are processed with a rate limit to avoid overloading the Bedrock API" %}</li>
            </ul>
        </div>
        
        <form action="{% url 'ai_processing:batch_process' %}" method="POST">
            {% csrf_token %}
            
            <ul class="fields">
                {% for field in form %}
                <li>
                    <div class="field {{ field.field.widget.attrs.class }}">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text }}</p>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            
            <input type="submit" value="{% trans 'Process URLs' %}" class="button" />
            <a href="{% url 'ai_processing:dashboard' %}" class="button button-secondary">{% trans 'Cancel' %}</a>
        </form>
    </div>
{% endblock %} 