{% extends "base_site/base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_head %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lab_equipment_page.css' %}"  />
{% endblock %}

{% block content %}
<div class="lab-equipment-page">
  <!-- Gallery Splash Section -->
  <section class="gallery-splash">
    <div class="splash-overlay">
      <h1 class="splash-title">{{ page.title }}</h1>
      <div class="splash-content">
        <!-- Gallery Column -->
        <div class="gallery-column">
            <div class="featured-image">
                {% if page.main_image %}
                {% with img_url=page.main_image %}
              <img id="featured-img" src="{{ img_url }}" alt="{{ page.title }}" onerror="this.src='{% static 'img/default-image.jpg' %}'">
                {% endwith %}
            {% else %}
              <img id="featured-img" src="{% static 'img/default-image.jpg' %}" alt="{{ page.title }}">
            {% endif %}
          </div>
          <div class="thumbnails">
            {% for gallery_item in page.gallery_images.all %}
              {% with img_url=gallery_item.get_image_url %}
              {% if img_url %}
              <img class="thumbnail" src="{{ img_url }}" alt="Gallery Image" onerror="this.src='{% static 'img/default-image.jpg' %}'">
              {% endif %}
              {% endwith %}
            {% endfor %}
          </div>
        </div>
        <!-- Description Column -->
        <div class="description-column">
          <h2 class="overview-title">Overview</h2>
           <div class="short-description">
            {{ page.short_description|richtext }}
          </div>
        </div>
      </div><!-- .splash-content -->

    </div><!-- .splash-overlay -->
  </section>

  <!-- Unified Tabbed Detail Section -->
  <section class="tabbed-detail">
      {% if page.models.all %}
      <div class="detail-container" id="detail-model">
          {% include "base_site/spec_tabs_header.html" with spec_group_names=page.spec_group_names models=page.models.all %}
      {% for model in page.models.all %}
          {% include "base_site/spec_tabs_content.html" with full_description=page.full_description spec_groups=model.merged_spec_groups name=model.name %}
      {% endfor %}
      </div>
      {% else %}
      <div class="detail-container" id="detail-default">
          {% include "base_site/spec_tabs_header.html" with spec_groups=page.get_effective_spec_groups %}
          {% include "base_site/spec_tabs_content.html" with full_description=page.full_description spec_groups=page.get_effective_spec_groups %}
      </div>
      {% endif %}
  </section>
</div>

{% block extra_js %}
<script>
 // ---------- Gallery Thumbnail Behavior ----------
 document.addEventListener('DOMContentLoaded', function() {
     var model_mapping;

     const featuredImg = document.getElementById('featured-img');
     const thumbnails = document.querySelectorAll('.thumbnail');

     thumbnails.forEach(thumb => {
         thumb.addEventListener('click', () => {
             // Remove border-color from all thumbnails
             thumbnails.forEach(t => t.style.borderColor = 'transparent');

             // Highlight the clicked thumbnail
             thumb.style.borderColor = '#02ADFF';

             // Set the featured image source using the data-full attribute
             featuredImg.src = thumb.src;
         });
     });
     function selectTab(tabTarget) {
         var tabContents = document.getElementsByClassName('detail-tab-content');

         console.log("Tab target is " + tabTarget);
         for (var tab of tabContents) {
             if (tab.classList.contains(tabTarget)) {
                 tab.style.display = 'block';
             } else {
                 tab.style.display = 'none';
             }
         }
     }

     function selectModel(modelTarget) {
         modelTarget = modelTarget + "-tab-contents";
         console.log("modelTarget: " + modelTarget);
         var modelBlocks = document.getElementsByClassName('detail-tabs-contents');

         for (var block of modelBlocks) {
             if (block.id==modelTarget) {
                 block.style.display = 'block';
             } else {
                 block.style.display = 'none';
             }
         }
         hideNonActiveTabs();
     }
     
     function slugify(text) {
         return text.toString().toLowerCase()
                    .trim()
                    .replace('&amp;', '')
                    .replace(/\s+/g, '-')        // Replace spaces with -
                    .replace(/&+/g, '')      // Remove all non-word characters
                    .replace(/[^\w\-]+/g, '')      // Remove all non-word characters
                    .replace(/\-\-+/g, '-');       // Replace multiple - with a single -
}
     function hideNonActiveTabs() {
         var selectedModel = document.getElementById('model-select').value;
         var includedGroups = model_mapping[selectedModel].map((groupName) => {
             let blah = slugify(groupName);
             console.log('pre: ' + groupName + '; post: ' + blah);
             return blah;
         });

         var tabs = document.getElementsByClassName('detail-tab');
         var needNewTab = false;
         for (var tab of tabs) {
             var tabGroup = tab.id.split("-").slice(2).join("-");
             if (includedGroups.includes(tabGroup) || tabGroup == "full-description") {
                 tab.style.display = 'flex';
             } else {
                 tab.style.display = 'none';
                 if (tab.classList.contains('active')) needNewTab = true;
             }
         }

         if (needNewTab) {
             document.getElementById('detail-tab-full-description').click();
         }
     }

     function initializeModelToGroups() {
         model_mapping = {};
         var modelName;
         var modelGroupList;
         {% for model in page.models.all %}
             modelName = "{{ model.name|slugify }}";
             modelGroupList = [];
             {% for spec_group in model.merged_spec_groups %}
                 modelGroupList.push("{{ spec_group.name }}")
             {% endfor %}
             model_mapping[modelName] = modelGroupList;
         {% endfor %}

     }

     function initialSetup() {
         initializeModelToGroups();
         selectTab('tab-spec-full-description');

         var tabs = document.getElementsByClassName('detail-tab');
         for (var tab of tabs) {
             tab.addEventListener('click', function() {
                 for (var otherTab of tabs) {
                     otherTab.classList.remove('active');
                 }
                 this.classList.add('active');
                 selectTab(this.getAttribute('data-target'));
             })
         }

         var modelSelect = document.getElementById('model-select');
         console.log("initial select of " + modelSelect.value + "-tab-contents");
         selectModel(modelSelect.value);
         modelSelect.addEventListener('change', function() {
             console.log("select of " + modelSelect.value + "-tab-contents");
             selectModel(this.value);
         });


      }
     initialSetup();

});
</script>
{% endblock %}
{% endblock %}
