{% load wagtailcore_tags wagtailimages_tags static %}
<ul class="detail-tabs">
    {% if models %}
    <li class="model-select-tab">
        <label for="model-select">Select Model:</label>
        <select id="model-select">
            {% for model in models %}
            <option value="{{ model.name|slugify }}" {% if forloop.first %}selected{% endif %}>
                {{ model.name }}
            </option>
            {% endfor %}
        </select>
    </li>
    {% endif %}
    <li class="detail-tab active" id="detail-tab-full-description" data-target="tab-spec-full-description">Full Description</li>
    {% for group in spec_group_names %}
    <li class="detail-tab" id="detail-tab-{{ group|slugify }}" data-target="tab-spec-{{ group|slugify }}">{{ group }}</li>
    {% endfor %}
</ul>
