{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags %}
{% load i18n %}

{% block titletag %}{% trans "Category:" %} {{ object.name }}{% endblock %}

{% block content %}
    <header class="nice-padding">
        <div class="row">
            <div class="left">
                <div class="col">
                    <h1 class="icon icon-folder-open-inverse">
                        {% trans "Category:" %} {{ object.name }}
                    </h1>
                </div>
            </div>
            <div class="right">
                <div class="col">
                    <a href="{% url 'wagtailsnippets_categorized_tags_2_tagcategory:edit' object.id %}" class="button button-secondary">
                        {% trans "Edit" %}
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="nice-padding">
        <div class="category-color-preview" style="background-color: {{ object.color }}; width: 200px; height: 100px; border-radius: 5px; margin-bottom: 20px; display: flex; justify-content: center; align-items: center; border: 1px solid #ddd;">
            <span style="font-weight: bold; color: black; background-color: rgba(255, 255, 255, 0.7); padding: 5px 10px; border-radius: 3px;">{{ object.name }}</span>
        </div>
        
        <dl>
            <dt>{% trans "Name" %}</dt>
            <dd>{{ object.name }}</dd>
            
            <dt>{% trans "Color" %}</dt>
            <dd>{{ object.color }}</dd>
            
            <dt>{% trans "Tags in this category" %}</dt>
            <dd>
                {% with tag_count=object.tag_count %}
                    {{ tag_count }} tag{{ tag_count|pluralize }}
                {% endwith %}
            </dd>
        </dl>
        
        {% if tags %}
            <div class="tags-list">
                <h2>{% trans "Tags" %}</h2>
                <ul>
                    {% for tag in tags %}
                        <li style="display: inline-block; margin: 5px; padding: 5px 10px; background-color: {{ object.color }}; border-radius: 3px;">
                            <span style="font-weight: bold;">{{ object.name }}:</span> {{ tag.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %} 